<label> Song Titles:</label>
<ul>
<%=@artist.songs.each do |song|%>
<li><%=link_to song.title, song_path(song)%></li>
<br>
<%end%>

<label> Song Count:</label>
<%=link_to @artist.song_count, artist_path(@artist)%>
<br>